$DarkPrimaryColor: #e64a19;
$LightPrimaryColor: #ffccbc;
$PrimaryColor: #ff5722;
$TextIconsColor: #ffffff;
$AccentColor: #ffeb3b;
$PrimaryTextColor: #212121;
$SecondaryTextColor: #757575;
$DividerColor: #bdbdbd;
